/*************************************************************
**************************************************************
START OF STYLE - Writen 2025 By Daniel Saunders
**************************************************************
*************************************************************/

/********************************************************************************
*********************************************************************************
/*********************
GENERAL STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/
html {
  height: 100%;
  font-size: 20px;
}

body {
  margin: 0px;
  height: 100%;
  background-color: #dfeef4;
}


header {
  height: 10%;
  width: 100%;
  background-color: #fffef4;
}

footer {
  background-color: #2D662C;

}

h1 {
  margin: 0px;
  text-align: center;
}


button:hover {
  cursor: pointer;
}

/*used when an element has an onclick
- Top seller 
- Back to top 
*/
.hoverOverElement:hover{
  cursor: pointer;
}


.d_headerGrid {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
}

.d_headerCompany {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_headerLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

#d_headerLink1 {
  grid-area: 1/2/2/3;
}

#d_headerLink2 {
  grid-area: 1/3/2/4;
}

#d_headerLink3 {
  grid-area: 1/4/2/5;
}

#d_headerLink4 {
  grid-area: 1/5/2/6;
}

.a_current {
  color: black;
  align-self: center;
  text-decoration: none;
  position: relative;
}


.a_current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fffef4, #005CA3);
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.a_change {
  color: black;
  text-decoration: none;
  align-self: center;
  position: relative;
}

.a_change::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fffef4, #005CA3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.a_change:hover::after {
  transform: scaleX(1);
}

/********************************/

/********** Footer Css grid ********/

.d_footerGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
}

.d_footerLinkGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}


.a_footer {
  color: white;
  position: relative;
  text-decoration: none;
}

.a_footer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fffef4, #005CA3);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.a_footer:hover::after {
  transform: scaleX(1);
}

.d_contactUsGrid {
  grid-area: 1/4/2/8;
  display: flex;
  align-items: center;
  justify-content: center;
}

#d_contactUsBackground {
  background-color: #EFFBF2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  height: 90%;
  width: 85%;
}

#d_contactUs {
  grid-area: 1/1/2/2;
}

#d_contactEmail {
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: center;
}


#d_contactPhone {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: center;
}

.h4_contactUs {
  margin: 0%;
  margin-top: 1%;
  text-align: center;
}

.h5_contactEmail,
.h5_contactPhone {
  margin: 0%;
  text-align: center;
}

.a_contact {
  color: black;
  position: relative;
  text-decoration: none;
}

.a_contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fffef4, #005CA3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.a_contact:hover::after {
  transform: scaleX(1);
}

.d_backToTopGrid {
  grid-area: 1/8/2/10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i_backToTop {
  height: 80%;
  width: 60%
}

/********************************************************************************
*********************************************************************************
/*********************
HOME PAGE STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/
#h3_navHeader {
  margin: 0%;
}

#d_homeMainImage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#i_homeMain {
  width: 80%;
  height: 99%;

}

#d_homeGridMain {
  background-color: #C4CBCA;
  border-bottom-style: solid;
  border-width: 2px;
}

#h1_homeMainHeader {
  border-bottom-style: solid;
}


#h3_subHeader {
  text-align: center;
  font-weight: normal;
  margin-left: 1%;
  margin-right: 1%;
}

#d_homeHeader {
  display: flex;
  align-items: center;
}

#d_homeTakeLookButton {
  display: flex;
  justify-content: center;
  align-items: center;
}


#b_takeLook {
  color: white;
  background-color: #3e8646;
  border: none;
  border-radius: 20px;
  padding: 1%;
  align-self: flex-start;
}

#d_homeStoryImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#i_ownerImage {
  display: block;
  border-radius: 50%;
  width: 65%;
  height: 90%;
}


/****** Our story ******/
#d_homeStoryHeaderFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#d_chrysalisShowRight,
#d_chrysalisShowLeft {
  display: flex;

}

#d_homeStoryMainFlex {
  display: flex;
  margin-top: 3%;
}


#d_homeStoryAboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p_aboutUs {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

#a_location {
  color: black;
  text-decoration: underline;
  align-self: center;
  position: relative;
}

#a_location::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fffef4, #005CA3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

#a_location:hover {
  text-decoration: none;
}

#a_location:hover::after {
  transform: scaleX(1);
}


/***** Top Seller *****/
#d_topSellerImg {
  text-align: center;
  height: 75%;
}

#i_topSeller {
  height: 100%;
  width: 55%;
}

#h3_topSeller {
  border-bottom: solid;
}

#h3_topSeller {
  margin-top: 1%;
  margin-left: 24%;
  margin-right: 24%;
  padding-bottom: 1%;
}

#d_topSellerHead {
  grid-area: 1/1/2/7;
}


#d_topSellerImg {
  grid-area: 2/1/3/7;
  padding-top: 1%;
}

#h3_topSeller {
  font-size: 4vw;
}



/********** LARGE SCREEN SIZE CSS GRID BELOW **********/
/****************************************************************************************************/
/****************************************************************************************************/
/********** Large screen size **********/
@media (min-width:825px) {

  /*** headers ***/
  h1 {
    margin: 0%;
    text-align: center;
  }

  h2 {
    margin: 0px;
    text-align: center;
  }

/***********************************************************/
/*********************
HOME PAGE STYLES BELOW 
/*********************/
/***********************************************************/

  /*** header ***/

  #h3_navHeader {
    font-size: 3vw;
  }

  .a_change {
    font-size: 1.75rem;
  }

  .a_current {
    font-size: 1.75rem;
  }

  /********** Main Css grid ********/
  #d_homeGridMain {
    display: grid;
    grid-template-columns: 4fr repeat(3, 2fr);
    grid-template-rows: 3fr 2fr 1fr;
    height: 90%;
  }

  #d_homeMainImage {
    grid-area: 1/1/6/2;
  }

  #d_homeHeader {
    grid-area: 1/2/2/6;
  }


  #h1_homeMainHeader {
    font-size: 8vw;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2.5%;
  }


  #d_homeSubHeader {
    grid-area: 2/2/3/6;
  }

  #h3_subHeader {
    font-size: 2.5vw;
  }


  #d_homeTakeLookButton {
    grid-area: 3/2/4/6;
  }

  #b_takeLook {
    font-size: 3.25vw;
  }

  /********************************/

  /********** Story flex boxes ********/


  #d_chrysalisShowRight,
  #d_chrysalisShowLeft {
    width: 35%;
  }

  #d_homeStoryHeader {
    width: 30%;
  }

  .d_chrysalis {
    width: 33%;
    display: flex;
    justify-content: center;

  }

  .i_chrysalis {
    height: 22vh;
    width: 55%;

  }

  #h2_Story {
    font-size: 7vw;
  }

  /*** Main ***/

  #d_homeStoryImage {
    width: 35%;
  }

  #d_homeStoryAboutUs {
    width: 65%;
  }


  #p_aboutUs {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.75vw;
    text-align: center;
  }


  /********************************/

  /********** Top seller Css grid ********/
  #d_homeGridTopSeller {
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr) 1fr;
    grid-template-rows: 1fr 4fr;
    border-bottom: black;
  }

  #h1_topSeller {
    font-size: 12vw;
  }

  /**** footer ****/
  .a_footer {
    font-size: 3vw;
  }

  .h4_contactUs {
    font-size: 3vw;
  }


  .h5_contactEmail {
    margin-top: 0.5%;
  }


/***********************************************************/
/*********************
Care PAGE STYLES BELOW 
/*********************/
/***********************************************************/

.h1_care{
  font-size: 5vw;
  margin-top:4%;
  margin-bottom:2%;
}


#d_carePlantsGrowGrid{
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows:repeat(3, 1fr);
  height:1000px;
}

#d_greenhouseImage{
  grid-area:1/1/2/5;
  background-color: red;
}

#d_greenhouseDes{
  grid-area:1/5/2/11;
  background-color: green;
}

#d_soilDes{
  grid-area:2/1/3/7;
  background-color: brown;
}
#d_soilImage{
  grid-area:2/7/3/11;
  background-color:blue;
}

#d_topCutImage{
  grid-area:3/1/4/5;
  background-color:antiquewhite;
}

#d_topCutDes{
  grid-area:3/5/4/11;
  background-color:yellow;
}

#d_carePlantsProblemGrid{
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows:repeat(2, 1fr);
  height:750px;
  margin-bottom:7%;
}

#d_bugsDes{
  grid-area:1/1/2/7;
  background-color:yellow;
}

#d_bugsImage{
  grid-area:1/7/2/11;
  background-color:palegoldenrod;
}

#d_toxicPlantImage{
  grid-area:2/1/3/5;
  background-color:peru;
}

#d_toxicPlantDes{
  grid-area:2/5/3/11;
  background-color:royalblue;
}


}



/********** MEDIUM SCREEN SIZE CSS GRID BELOW  **********/
/*** Tablet like size ***/
/****************************************************************************************************/
/****************************************************************************************************/
/********** Medium screen size **********/
@media (max-width:825px) {

  h2 {
    margin: 0px;
    margin-bottom: 1%;
    text-align: center;
  }

  /*** header ***/
  #h3_navHeader {
    font-size: 3.5vw;
  }

  .a_change,
  .a_current {
    font-size: 4vw;
  }

  /********** Main Css grid ********/
  #d_homeGridMain {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: 3fr 2fr 1fr;
    height: 90%;
  }

  #d_homeMainImage {
    grid-area: 1/1/6/2;
  }

  #d_homeHeader {
    grid-area: 1/2/2/6;
  }

  #h1_homeMainHeader {
    font-size: 8.25vw;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 7.5%;
  }


  #d_homeSubHeader {
    grid-area: 2/2/3/6;
  }

  #h3_subHeader {
    font-size: 4vw;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  #d_homeTakeLookButton {
    grid-area: 3/2/4/6;
  }

  #b_takeLook {
    font-size: 6vw;
  }

  /********************************/

  /********** Story Css grid ********/

  #d_chrysalisShowRight,
  #d_chrysalisShowLeft {
    width: 20%;
    display: flex;
    justify-content: center;
  }

  #d_homeStoryHeader {
    width: 60%;
  }

  #i_chrysalisMiddle1,
  #i_chrysalisRight1,
  #i_chrysalisMiddle2,
  #i_chrysalisRight2 {
    display: none;
  }

  .i_chrysalis {
    width: 10vw;
    height: 20vh;
  }

  #h2_Story {
    font-size: 12vw;
  }


  #d_homeStoryImage {
    width: 40%;
  }

  #d_homeStoryAboutUs {
    width: 60%;
  }


  #p_aboutUs {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2.25vw;
    text-align: center;
  }



  /********************************/

  /********** Top seller Css grid ********/
  #d_homeGridTopSeller {
    display: grid;
    grid-template-columns: 3fr repeat(4, 2fr) 3fr;
    grid-template-rows: 1fr 3fr;
  }



  #h1_topSeller {
    font-size: 15vw;
  }


  /**** footer ****/
 
  .d_footerLinkGrid {
    display: none;
  }

  .d_contactUsGrid {
    grid-area: 1/1/2/8;
  }


   #d_contactUsBackground {
    background-color: #EFFBF2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 85%;
    width: 95%;
  }


  #d_contactUs {
    grid-area: 1/1/2/3;
  }

  #d_contactEmail {
    grid-area: 2/1/3/3;
    display: flex;
    justify-content: center;
    margin-bottom:2%;
  }


  #d_contactPhone {
    grid-area: 3/1/4/3;
    display: flex;
    justify-content: center;
  }


  .h4_contactUs {
    font-size: 3.5vw;
  }

  .h5_contactEmail,
  .h5_contactPhone {
    font-size: 2.25vw;
  }


  
 


}


/********** SMALL SCREEN SIZE CSS GRID BELOW  **********/
/** starts at a large phone (samsung flip) / very small tablet **/
/****************************************************************************************************/
/****************************************************************************************************/
/********** Small screen size **********/
@media (max-width:575px) {

  /*** headers ***/
  h2 {
    margin: 0px;
    margin-bottom: 1.5%;
    font-size: 30px;
    text-align: center;
  }

  /*** header ***/

  #h3_navHeader {
    font-size: 3.5vw;
  }

  .a_change,
  .a_current {
    font-size: 3.5vw;
  }


  /********** Main Css grid ********/
  #d_homeGridMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 2fr 1fr;
    height: 90%;
  }

  /** image is hiden on a phone like screen **/
  #d_homeMainImage {
    display: none;
  }

  #d_homeHeader {
    grid-area: 1/1/2/6;
    display: flex;
    align-items: center;
  }

  #h1_homeMainHeader {
    font-size: 16vw;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2.5%;
  }

  #d_homeSubHeader {
    grid-area: 2/1/3/6;
  }

  #h3_subHeader {
    font-size: 6vw;
    margin-top: 5%;
  }

  #d_homeTakeLookButton {
    grid-area: 3/1/4/6;
  }

  /********************************/

  /********** Story Css grid ********/


  #d_chrysalisShowRight,
  #d_chrysalisShowLeft {
    display: none;
  }

  #h2_Story {
    font-size: 14vw;
  }

  #d_homeStoryImage {
    width: 40%;
  }

  #i_ownerImage {
    width: 75%;

  }

  #d_homeStoryAboutUs {
    width: 60%;
  }


  #p_aboutUs {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 2.5vw;
    text-align: center;
  }

  /********************************/

  /********** Top seller Css grid ********/
  #d_homeGridTopSeller {
    display: grid;
    grid-template-columns: 3fr repeat(4, 2fr) 3fr;
    grid-template-rows: 1fr 3fr;
  }

  #h1_topSeller {
    font-size: 17vw;
  }

}

/*************************************************
END OF CODE 
*************************************************/