/*************************************************************
**************************************************************
START OF STYLE - Writen 2025 By Daniel Saunders
**************************************************************
*************************************************************/

/** importing fonts **/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');



/********************************************************************************
*********************************************************************************
/*********************
GENERAL STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/

body {
  margin: 0px;
  background-color: #dfeef4;
  font-family: "eb garamond", "Libertinus Sans";
}

#d_firstView {
  background-color: #C4CBCA;
}

header {
  height: 13.5vh;
  width: 100%;
  background-color: #fffef4;
}

footer {
  background-color: #2D662C;
}

h1 {
  margin: 0px;
  text-align: center;
}

h2 {
  margin: 0px;
  text-align: center;
}

h3 {
  margin: 0px;
}

p {
  text-align: center;
}

button {
  font-family: "eb garamond", "Libertinus Sans";
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 90%;
}

a:hover {
  cursor: pointer;
}

/***********************************************************/
/*********************
LINK STYLES BELOW 
/*********************/
/***********************************************************/
.a_dropDown,
.a_change,
.a_current,
#a_orderForm,
.a_contact {
  color: black;
  text-decoration: none;
  align-self: center;
  position: relative;
}

.a_contact {
  margin: 0%;
  text-align: center;
  margin-bottom: 1.5%;
}

.a_dropDown::after,
.a_change::after,
.a_current::after,
#a_location::after,
#a_orderForm::after,
.a_footer::after,
.a_contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  /*dfeef4  005CA3 */
  background: linear-gradient(to right, #fffef4, #5f90c2);
  transform: scaleX(0);
  transform-origin: left;
}

#a_orderForm::after {
  background: black;
}

.a_dropDown:hover::after,
.a_change:hover::after,
#a_orderForm:hover::after {
  transform: scaleX(1);
}

.a_current::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.a_change::after {
  transition: transform 0.3s ease;
}

.a_dropDown::after {
  transition: transform 0.5s ease;
}

#a_orderForm::after {
  transition: transform 0.4s ease;
}

/** map link in home page **/
#a_location {
  color: black;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
  position: relative;
}

#a_location::after {
  background: black;
  transition: transform 0.3s ease;
}

#a_location:hover {
  text-decoration: none;
}

#a_location:hover::after {
  transform: scaleX(1);
}


/** footer qucik links **/
.a_footer {
  color: white;
  position: relative;
  text-decoration: none;
}

.a_footer::after {
  background: white;
  transition: transform 0.3s ease;
}

.a_footer:hover::after {
  transform: scaleX(1);
}

/** contact info in footer **/
.a_contact::after {
  background: black;
  transition: transform 0.5s ease;
}

.a_contact:hover::after {
  transform: scaleX(1);
}


/** aligning contents of a div to the center vert and hori **/
.d_alignCenterVertHori {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********************************************************/
/*********************
HEADER STYLES BELOW 
/*********************/
/***********************************************************/

/* header grid */
.d_headerGrid {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
  border-radius: 50px;

}

/* company */
.d_headerCompany {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* link */
.d_headerLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* grid items */
#d_headerLinkHome {
  grid-area: 1/2/2/3;
}

#d_headerLinkView {
  grid-area: 1/3/2/4;
  position: relative;
  display: inline-block;
  text-align: center;
  align-self: center;
}

#d_headerLinkCare {
  grid-area: 1/4/2/5;
}

#d_headerLinkOrder {
  grid-area: 1/5/2/6;
}

/** drop down links **/
#d_dropDownLinks {
  display: none;
  position: absolute;
  background-color: #fffef4;
  z-index: 1;
  padding: 0% 10% 7.5% 10%;
  margin-left: 15%;
  width: 50%;
}

#ul_dropDownLinks {
  list-style-type: none;
  padding-left: 0%;
  margin: 0%;
}

.li_dropDownLinks {
  margin-top: 15%;
}


#d_headerLinkView:hover #d_dropDownLinks {
  display: block;
}

/***********************************************************/
/*********************
FOOTER STYLES BELOW 
/*********************/
/***********************************************************/

/* footer grid */
#d_footerGrid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;

}

/* quick links */
.d_footerLinkGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact us */
.d_contactUsGrid {
  grid-area: 1/4/2/8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0% 2% 0%;
}

/* contact us background grid */
#d_contactUsBackground {
  background-color: #EFFBF2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 1fr;
  height: 100%;
  width: 85%;
  padding-bottom: 1.25%;
}

#d_contactUs {
  grid-area: 1/1/2/2;
}

/* contact header */
#h4_contactUs {
  margin: 0%;
  margin-top: 1%;
  text-align: center;
}

#h5_contactEmail,
#h5_contactPhone {
  margin: 0%;
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 1.25%;
}

/* back to top */
#d_backToTopGrid {
  grid-area: 1/8/2/10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#i_backToTop:hover {
  cursor: pointer;
}

/********************************************************************************
*********************************************************************************
/*********************
HOME PAGE STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/
#d_firstView {
  height: 100%;
}

#h3_navHeader {
  margin: 0%;
}

#d_homeMainImage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#i_homeMain {
  width: 85%;
  height: 99%;
}

#d_homeGridMain {
  display: grid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #1B2019;
  height: 86.5vh;
}

#h1_homeMainHeader {
  border-bottom-style: solid;
}

#h3_subHeader {
  text-align: center;
  font-weight: normal;
  margin-left: 1%;
  margin-right: 1%;
}

#d_homeHeader {
  display: flex;
  align-items: center;
}

#b_takeLook {
  color: white;
  background-color: #26530C;
  border-radius: 20px;
  padding: 1%;
}

#b_takeLook:hover {
  padding: 10px 10px;
}

#d_homeStoryImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#i_ownerImage {
  display: block;
  border-radius: 50%;
  width: 65%;
  height: 90%;
}

/****** Our story ******/
#d_homeStoryHeaderFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#d_homeStoryMainFlex {
  display: flex;
}

#d_homeStoryAboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p_aboutUs {
  margin-left: 5%;
  margin-right: 5%;
}

/***** Top Seller *****/
#d_homeGridTopSeller {
  display: grid;
  grid-template-columns: 1fr repeat(6, 2fr) 1fr;
  grid-template-rows: 1fr 2.5fr;
}

/* top seller divs */
#d_topSellerHead {
  grid-area: 1/1/2/9;
}

#d_topSellerImg {
  grid-area: 2/1/3/5;
}

#d_topSellerDes {
  grid-area: 2/5/3/9;
}

#d_topSellerImg {
  text-align: center;
}

#i_topSeller {
  height: 70%;
  width: 65%;
  margin-top: 5%;
  border: 1.75px solid black;
}

/* header */
#h3_topSeller {
  font-size: 5.5vw;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;

}

/* price */
#h4_topSeller {
  font-size: 4vw;
  text-align: center;
  margin-top: 5%;
}

#b_topSeller {
  color: white;
  background-color: #26530C;
  border-radius: 50px;
  padding: 3%;
  font-size: 3.5vw;
  align-items: center;
}

#b_topSeller:hover {
  padding: 15px 15px;

}

/********************************************************************************
*********************************************************************************
/*********************
CARE PAGE STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/

/* Main headers */
.h1_care {
  margin-bottom: 2%;
}

#h1_careProb {
  margin-top: 2%;
}

.h2_careDes {
  font-weight: 500;
  margin-top: 7.5%;
  text-decoration: underline;
}

.h3_effectOfPlants {
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
}

/* images on care page */
.i_care {
  border: 1.25px solid black;
}


/* divs */
.d_bugsImage {
  width: 50%;
}

#d_toxicPlantDesFlex {
  display: flex;
}

#d_toxicPlantDesFlexLeft {
  width: 40%;
}

#d_toxicPlantDesFlexRight {
  width: 60%;
}


#d_effectOfPlantsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.25fr 0.5fr 1.25fr 0.25fr;
}

#d_effectOfPlantsHeader {
  grid-area: 1/1/2/3;

}

#d_effectOfPlantsHumanHeader {
  grid-area: 2/1/3/2;

}

#d_effectOfPlantsHumanList {
  grid-area: 3/1/4/2;
}

#d_effectOfPlantsAnimalHeader {
  grid-area: 2/2/3/3;

}

#d_effectOfPlantsHumanHeader,
#d_effectOfPlantsAnimalHeader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#d_effectOfPlantsHumanList,
#d_effectOfPlantsAnimalList {
  padding-top: 2.5%;
}

#d_effectOfPlantsAnimalList {
  grid-area: 3/2/4/3;
}


.d_effectsOfSapFlex {
  display: flex;
}

#d_effectOfSapToxicPlant {
  grid-area: 4/1/5/3;
  margin-top: 2%;
}

.d_effectsOfSapHeader {
  width: 30%;
}

.d_effectsOfSapDes {
  width: 70%;
}

.li_effectOfPlants {
  list-style-type: square;
}

#p_toxicPlantExplain {
  margin: 0 5% 0 5%;
}

.h3_effetsOfSap {
  text-align: center;
}

/********************************************************************************
*********************************************************************************
/*********************
VIEW PAGE STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/
/* view plant grid */
#d_viewPlantsGrid {
  display: grid;
  margin-top: 1%;
  margin-bottom: 5%;
}

/* divs */
.d_viewSwanPlants {
  margin: 7.5% 20% 5% 20%;
  border: 2px solid black;
}

.d_swanPlantsImage {
  height: 87.5%;
}

.d_swanPlantsHeader,
.d_swanPlantsPrice {
  height: 6.25%;
}

.d_viewSwanPlants:hover {
  border: none;
  cursor: pointer;
}

/* images */
.i_swanPlant {
  height: 95%;
  width: 95%;
  margin: 2.5% 2.5% 1% 2.5%;
}

/* headers */
.h3_swanPlant {
  text-align: center;
}


/********************************************************************************
*********************************************************************************
/*********************
CLOSE VIEW PAGE STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/
/* close view grid */
#d_closeViewGrid {
  display: grid;
  grid-template-rows: 1fr 0.5fr 1.5fr 0.5fr;
  margin: 5% 0% 2% 0%;
}

/* divs */
#d_closeViewImage {
  grid-area: 1/1/5/2;
  border: 2px solid black;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}


#d_closeViewHeader {
  grid-area: 1/2/2/3;
}

#d_closeViewPrice {
  grid-area: 2/2/3/3;
}

#d_closeViewDes {
  grid-area: 3/2/4/3;
  margin: 0% 5% 0% 5%;
}

#d_closeViewOrderLink {
  grid-area: 4/2/5/3;
}

#d_closeViewKeepLooking {
  margin-top: 5%;
  margin-bottom: 10%;
}

/* close view image */
#i_closeViewSwanPlant {
  width: 100%;
  height: 100%;
  transform-origin: top left;
}

/* links */
.a_closeView {
  text-align: center;
}

#a_orderForm {
  font-weight: bolder;
}

#a_keepLooking {
  color: #4F4B4B;
  background-color: #C9E1EB;
  padding: 1%;
  border: 2px solid #4F4B4B;
  border-radius: 30px;
  transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
}


#a_keepLooking:hover {
  border-color: black;
  color: black;
}

/********************************************************************************
*********************************************************************************
/*********************
ORDER PAGE STYLES BELOW 
/*********************/
/********************************************************************************
*********************************************************************************/

/* Form is hidden due to checking for account */

#d_formElements {
  display: none;
}

/* check acocunt div */
#d_checkingAcount {
  height: 100vh;
}

/* headers */
#h1_orderFormHeader {
  text-decoration: underline;
}

#h4_orderPaymentNote {
  text-align: center;
}


/* form divs */
#d_orderForm {
  display: grid;
  border: 3px solid black;
}

.d_orderFormItem {
  display: flex;
  margin-top: 2%;
}

.d_orderFormInputItem {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 70%;
  height: 100%;
}

.d_orderFormLabelItem {
  width: 30%;
  height: 100%;
}

#d_orderFormButtons {
  display: flex;
}

.d_orderButton {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  width: 50%;

}

/* form inputs */
.in_orderForm {
  width: 80%;
  height: 50%;
  padding: 1%;
  border: 1px solid black;
  font-family: "eb garamond", "Libertinus Sans";
}

.in_orderForm::placeholder {
  font-style: italic;
}

.in_orderForm:hover {
  outline: none;
  box-shadow: 0 0 5px 2px #000000;
}

.in_orderForm:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #000000;
}

/* form buttons */
#b_resetForm {
  background-color: #4F171B;
}

#b_submitOrderForm {
  background-color: #16324F;
}

.b_order {
  color: white;
  border-radius: 10px;
  width: 40%;
}

#b_resetForm:hover,
#b_submitOrderForm:hover {
  opacity: 60%;
}

/********** LARGE SCREEN SIZE CSS GRID BELOW **********/
/****************************************************************************************************/
/****************************************************************************************************/
/********** Large screen size **********/
@media (min-width:850px) {

  /***********************************************************/
  /*********************
MULTIPLE PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* nav bar */
  #h3_navHeader {
    font-size: 3vw;
  }

  .a_change,
  .a_current {
    font-size: 2.5vw;
  }

  .a_dropDown {
    font-size: 1.5vw;
  }

  /* footer */
  .a_footer {
    font-size: 3vw;
  }

  #h4_contactUs {
    font-size: 3vw;
  }

  .i_contactIcon {
    width: 2.5vw;
    height: 4vh;
    margin-right: 2%;
  }

  .a_contact {
    font-size: 1.5vw;
  }

  #a_contactEmail {
    margin-top: 0.5%;
  }

  #i_backToTop {
    height: 80%;
    width: 50%
  }



  /***********************************************************/
  /*********************
HOME PAGE STYLES BELOW 
/*********************/
  /***********************************************************/


  /********** Main Css grid ********/
  #d_homeGridMain {
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1.25fr;
  }

  /* grid divs */
  #d_homeMainImage {
    grid-area: 1/1/4/2;
  }

  #d_homeHeader {
    grid-area: 1/2/2/6;
  }

  #d_homeSubHeader {
    grid-area: 2/2/3/6;
  }

  #d_homeTakeLookButton {
    grid-area: 3/2/4/6;
  }


  /* headers */
  #h1_homeMainHeader {
    font-size: 7.5vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding-bottom: 1%;
  }

  #h3_subHeader {
    font-size: 5vh;
  }

  /* take a look button */
  #b_takeLook {
    font-size: 3.5vw;
  }

  /********************************/
  /********** Story flex boxes ********/

  /* story header div */
  #d_homeStoryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* story header */
  #h2_Story {
    font-size: 9vw;
    margin-top: 2%;
    margin-bottom: 1.5%;
  }

  /* divs */
  #d_homeStoryImage {
    width: 35%;
  }

  #d_homeStoryAboutUs {
    width: 65%;
  }

  /* about us paragraph */
  #p_aboutUs {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.75vw;
  }

  /* top seller header */
  #h1_topSeller {
    font-size: 9vw;
    margin-top: 3%;
    margin-bottom: 1.5%;
  }


  /***********************************************************/
  /*********************
Care PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* care headers */
  .h1_care {
    font-size: 5vw;
  }

  #h1_careGrow {
    margin-top: 4%;
  }

  .h2_careDes {
    font-size: 3.5vw;
    text-underline-offset: 20px;
  }

  #h2_toxicPlant {
    margin-top: 0%;
  }

  .h3_effectOfPlants {
    font-size: 2.25vw;
  }

  .h3_effetsOfSap {
    font-size: 2.25vw;
    float: right;
    margin-right: 5%;
  }

  /* care paragraphs */
  .p_careDes {
    font-size: 1.5vw;
    margin: 5% 5% 0 5%;
  }

  #p_effectOfPlant {
    margin-top: 1.5%;
  }

  .p_effectOfSap {
    font-size: 1.6vw;
  }

  #p_effectOfSapTopCut {
    margin-right: 5%;
    margin-left: 2%;
  }

  #p_effectOfSapToxicPlant {
    margin-left: 10%;
  }

  /** care for grid **/
  #d_carePlantsGrowGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  /* care divs take care */
  #d_greenhouseImage {
    grid-area: 1/1/2/5;
  }

  #d_greenhouseDes {
    grid-area: 1/5/2/11;
  }

  #d_soilDes {
    grid-area: 2/1/3/7;
  }

  #d_soilImage {
    grid-area: 2/7/3/11;
  }

  #d_topCutImage {
    grid-area: 3/1/4/5;
  }

  #d_topCutDes {
    grid-area: 3/5/4/11;
  }

  /* care images */
  #i_greenhouseMade {
    width: 80%;
    height: 70%;
  }

  #i_soil {
    width: 70%;
    height: 80%;
  }

  #i_topCut {
    width: 65%;
    height: 65%;
  }

  .i_bugs {
    width: 85%;
    height: 80%;

  }

  /** problem grid **/
  #d_carePlantsProblemGrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 5%;
  }

  /* care divs problems */
  #d_bugsDes {
    grid-area: 1/1/2/2;
  }

  #d_bugsImageFlex {
    display: flex;
    grid-area: 1/2/2/3;
  }

  .d_bugsImage {
    padding-top: 10%;
  }

  #d_toxicPlantDes {
    grid-area: 2/1/3/11;
  }

  #d_toxicPlantDesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1.75fr;
    margin-top: 1%;
    margin-bottom: 5%;
  }

  #d_toxicPlantExplain {
    grid-area: 1/1/2/3;
  }

  #d_effectOfPlantsGrid {
    grid-area: 2/1/3/3;
  }

  .d_effectsOfSapFlex {
    margin-top: 0%;
  }

  /* effects list */
  .li_effectOfPlants {
    font-size: 1.5vw;
  }

  /***********************************************************/
  /*********************
View PAGE STYLES BELOW 
/*********************/
  /***********************************************************/
  /* view headers */
  #h1_ourProducts {
    margin-top: 2%;
    font-size: 6vw;
  }

  .h3_swanPlant {
    font-size: 1.5vw;
  }


  /* view grid */
  #d_viewPlantsGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* view grid divs */
  #d_smallSwanPlant {
    grid-area: 1/1/2/2;
  }

  #d_mediumSwanPlant {
    grid-area: 1/2/2/3;
  }

  #d_largeSwanPlant {
    grid-area: 1/3/2/4;
  }

  #d_extraLargeSwanPlant {
    grid-area: 2/2/3/3;
  }


  /***********************************************************/
  /*********************
CLOSE VIEW PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* headers */
  #h1_closeViewHeader {
    font-size: 4.75vw;
  }

  #h2_closeViewPrice {
    font-size: 2.75vw;
  }

  /* clsoe view grid */
  #d_closeViewGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* close view image grid */
  #d_closeViewImage {
    width: 70%;
    height: 90%;
    margin-left: 15%;
  }

  /* paragraphs */
  #p_closeViewDes,
  #p_closeViewDesHeight {
    font-size: 1.9vw;
  }

  /* links */
  #a_orderForm {
    font-size: 3.75vw;
    font-weight: bolder;
  }

  #a_keepLooking {
    font-size: 3vw;
  }

  /***********************************************************/
  /*********************
ORDER PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* order headers */
  #h1_orderFormHeader {
    margin: 5% 0% 4% 0%;
    font-size: 6vw;
    text-underline-offset: 17.5px;
  }

  #h2_statusUpdate {
    font-size: 5vw;
  }

  #h4_orderPaymentNote {
    font-size: 1.75vw;
    margin: 3% 0% 4% 0%;
  }


  /* order form grid */
  #d_orderForm {
    margin: 2% 0% 15% 15%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(6, 0.75fr);
    padding-top: 1%;
    width: 70%;
  }

  /* order from divs */
  .d_orderFormInputItem {
    justify-content: center;
  }

  #d_orderFormNameItem {
    grid-area: 1/1/2/2;
  }

  #d_orderFormEmailItem {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #d_orderFormSmalItem {
    grid-area: 2/1/3/3;
  }

  #d_orderFormMediumItem {
    grid-area: 3/1/4/3;
  }

  #d_orderFormLargeItem {
    grid-area: 4/1/5/3;
  }

  #d_orderFormExtraLargeItem {
    grid-area: 5/1/6/3;
  }

  #d_orderFormPaymentNote {
    grid-area: 6/1/7/3;
  }

  #d_orderFormButtons {
    grid-area: 7/1/8/3;
  }

  #d_orderFormButtons {
    margin-bottom: 3%;
  }

  /* order form labels and inputs */
  .l_orderForm {
    font-size: 3vw;
  }

  .in_orderForm {
    font-size: 1.5vw;
  }

  /* order form buttons */
  .b_order {
    font-size: 4vw;
    padding: 0% 1.25% 0% 1.25%;
  }
}


/****************************************************************************************************/
/********** Large - medium screen size **********/
/** used for elements that look odd in the smallier range of the large screen size **/
/****************************************************************************************************/
@media (max-width:950px) {

  /* order from grid */
  #d_orderForm {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr) 0.25fr 1fr;
    width: 75%;
    margin-left: 12.5%;
  }
}


/********** MEDIUM SCREEN SIZE CSS GRID BELOW  **********/
/*** Tablet like size ***/
/****************************************************************************************************/
/****************************************************************************************************/
/********** Medium screen size **********/
@media (max-width:850px) {

  /***********************************************************/
  /*********************
MULTIPLE PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* general header */
  h2 {
    margin: 0px;
    margin-bottom: 1%;
    text-align: center;
  }

  /* header */
  #h3_navHeader {
    font-size: 3.5vw;
  }

  .a_change,
  .a_current {
    font-size: 4vw;
  }

  #d_dropDownLinks {
    width: 80%;
    margin: 0%;
    padding-bottom: 12%;
  }

  .a_dropDown {
    font-size: 2.5vw;
  }

  /* footer */
  .d_footerLinkGrid {
    display: none;
  }


  /* contact divs */
  .d_contactUsGrid {
    grid-area: 1/1/2/8;
  }

  #d_contactUsBackground {
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr 1fr;
    width: 95%;
  }

  #d_contactUs {
    grid-area: 1/1/2/3;
  }

  #d_contactEmail {
    grid-area: 2/1/3/3;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
  }

  #d_contactPhone {
    grid-area: 3/1/4/3;
  }

  /* contact header */
  #h4_contactUs {
    font-size: 3.5vw;
  }

  /* contact icon */
  .i_contactIcon {
    width: 3vw;
    height: 4vh;
    margin-right: 4%;
  }

  /* contact link */
  .a_contact {
    font-size: 2.25vw;
    margin-bottom: 0%;
  }

  /* drop down */
  #i_backToTop {
    height: 80%;
    width: 75%
  }


  /***********************************************************/
  /*********************
HOME PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /********** Main Css grid ********/
  #d_homeGridMain {
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: 3fr 2fr 1fr;
  }

  /* main divs */
  #d_homeMainImage {
    grid-area: 1/1/6/2;
  }

  #d_homeHeader {
    grid-area: 1/2/2/6;
  }


  #d_homeSubHeader {
    grid-area: 2/2/3/6;
  }

  #d_homeTakeLookButton {
    grid-area: 3/2/4/6;
  }

  /* main header */
  #h1_homeMainHeader {
    font-size: 8.25vw;
    margin-left: 2%;
    margin-right: 2%;
  }

  #h3_subHeader {
    font-size: 4vw;
    margin: 0% 5% 5% 5%;
  }

  /* take a look button */
  #b_takeLook {
    font-size: 5vw;
    padding: 2.5%;
  }

  /********************************/
  /********** Story Css grid ********/


  /* story divs */
  #d_homeStoryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #d_homeStoryImage {
    width: 40%;
  }

  #d_homeStoryAboutUs {
    width: 60%;
  }

  /* story header */
  #h2_Story {
    font-size: 12vw;
  }

  /* story paragraph */
  #p_aboutUs {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2.25vw;
  }

  /********************************/
  /********** Top seller Css grid ********/

  /* top seller headers */
  #h1_topSeller {
    font-size: 12vw;
    margin-top: 2%;
  }

  #h3_topSeller {
    margin-top: 10%;
  }

  #h4_topSeller {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  /* top seller image */
  #i_topSeller {
    width: 75%;
  }


  /***********************************************************/
  /*********************
  CARE PAGE STYLES BELOW 
  /*********************/
  /***********************************************************/

  /* care headers */
  .h1_care {
    font-size: 7vw;
  }

  #h1_careGrow {
    margin-top: 7.5%;
  }

  #h1_careProb {
    margin-top: 5%;
  }

  .h2_careDes {
    font-size: 5.5vw;
    margin-bottom: 5%;
    text-underline-offset: 17.5px;
  }

  #h2_greenHouse {
    margin-top: 1%;
  }


  #h2_toxicPlant {
    margin-top: 5%;
  }


  .h3_effectOfPlants {
    font-size: 3.5vw;
  }

  .h3_effetsOfSap {
    font-size: 3vw;
  }

  /* care paragraphs */
  .p_careDes {
    font-size: 2.75vw;
    margin: 7.5% 5% 0 5%;
  }

  #p_plantTonic {
    margin-top: 5%;
  }

  #p_effectOfPlant {
    margin-bottom: 5%;
  }


  .p_effectOfSap {
    margin-right: 5%;
  }

  /* care divs */
  #d_carePlantsGrowGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.9fr 0.75fr 1fr 0.75fr 1fr;
    margin-top: 7.5%;
  }

  #d_greenhouseDes {
    grid-area: 1/1/2/2;
  }

  #d_greenhouseImage {
    grid-area: 2/1/3/2;
  }

  #d_soilDes {
    grid-area: 3/1/4/2;
  }

  #d_soilImage {
    grid-area: 4/1/5/2;
  }

  #d_topCutDes {
    grid-area: 5/1/6/2;
  }

  #d_topCutImage {
    grid-area: 6/1/7/2;
  }

  #d_carePlantsProblemGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 7%;
  }

  #d_bugsDes {
    grid-area: 1/1/2/2;
  }

  #d_bugsImageFlex {
    display: flex;
    grid-area: 2/1/3/2;
  }

  #d_toxicPlantDes {
    grid-area: 3/1/4/2;
  }

  .d_effectsOfSapFlex {
    margin-top: 0%;
  }

  /* story images */
  #i_greenhouseMade {
    width: 75%;
    height: 80%;
  }

  #i_soil {
    width: 60%;
    height: 85%;
  }

  #i_topCut {
    width: 60%;
    height: 80%;
  }

  .i_bugs {
    width: 85%;
    height: 75%;
  }

  /* care list */
  .li_effectOfPlants {
    font-size: 2.5vw;
  }

  /***********************************************************/
  /*********************
  VIEW PAGE STYLES BELOW 
  /*********************/
  /***********************************************************/

  /* headers */
  #h1_ourProducts {
    margin-top: 2.5%;
    font-size: 8vw;
  }

  .h3_swanPlant {
    font-size: 2.25vw;
  }

  /* view plant grid */
  #d_viewPlantsGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 13.5%;
  }

  /* grid divs */
  #d_smallSwanPlant {
    grid-area: 1/1/2/2;
  }

  #d_mediumSwanPlant {
    grid-area: 1/2/2/3;
  }

  #d_largeSwanPlant {
    grid-area: 2/1/3/2;
  }

  #d_extraLargeSwanPlant {
    grid-area: 2/2/3/3;
  }

  /* view swan plant div */
  .d_viewSwanPlants {
    margin-top: 10%;
  }

  /***********************************************************/
  /*********************
  CLOSE VIEW PAGE STYLES BELOW 
  /*********************/
  /***********************************************************/

  /* headers */
  #h1_closeViewHeader {
    font-size: 5.5vw;
  }

  #h2_closeViewPrice {
    font-size: 3.5vw;
  }

  /* close view grid */
  #d_closeViewGrid {
    grid-template-columns: 0.75fr 1fr;
  }

  /* image div */
  #d_closeViewImage {
    width: 80%;
    height: 65%;
    margin: 20% 0% 0% 7.5%;
  }

  /* paragraph */
  #p_closeViewDes,
  #p_closeViewDesHeight {
    font-size: 2.5vw;
  }

  /* links */
  #a_orderForm {
    font-size: 4.25vw;
  }

  #a_keepLooking {
    font-size: 3.5vw;
  }

  /***********************************************************/
  /*********************
ORDER PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* headers */
  #h1_orderFormHeader {
    margin: 5.5% 0% 4.5% 0%;
    font-size: 8vw;
    text-underline-offset: 12.5px;
  }

  #h2_statusUpdate {
    font-size: 7.5vw;
  }



  #h4_orderPaymentNote {
    font-size: 2.5vw;
    margin: 5% 0% 6% 0%;
  }

  /* order grid */
  #d_orderForm {
    grid-template-rows: repeat(6, 1fr) 0.25fr 1fr;
    margin-top: 4%;
    margin-bottom: 17.5%;
    margin-left: 10%;
    padding-top: 3%;
    width: 80%;
  }

  /* from label and input */
  .l_orderForm {
    font-size: 4vw;
  }

  .in_orderForm {
    font-size: 2vw;
    padding: 1%;
  }


  /* order form buttons */
  #d_orderFormButtons {
    margin-bottom: 2%;
  }

  /* form buttons */
  .b_order {
    font-size: 4vw;
    padding: 1% 1.25% 1% 1.25%;
  }
}


/****************************************************************************************************/
/********** Small - medium screen size **********/
/** used for elements that look odd in the smallier range of the medium screen size **/
/****************************************************************************************************/
@media (max-width:705px) {

  /***********************************************************/
  /*********************
MULTIPLE PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /** footer **/

  /* contact header */
  #h4_contactUs {
    font-size: 3.5vw;
    margin-top: 0%;
    margin-bottom: 1%;
  }

  /* contact divs */
  #d_contactEmail {
    margin-bottom: 0.5%;
  }

  #d_contactPhone {
    padding: 0.5%;
  }

  /* contact icon */
  .i_contactIcon {
    width: 4vw;
    height: 2vh;
    margin-right: 4%;
  }

  /* contact link */
  .a_contact {
    font-size: 2.5vw;
  }

  /* back to top */
  #i_backToTop {
    height: 80%;
    width: 80%
  }

  /***********************************************************/
  /*********************
HOME PAGE STYLES BELOW 
/*********************/
  /***********************************************************/


  /* headers */
  #h1_homeMainHeader {
    font-size: 15vw;
    margin: 0% 2.5% 2.5% 2.5%;
  }

  #h1_topSeller {
    font-size: 16vw;
    margin: 0%;
  }

  #h3_subHeader {
    font-size: 5.5vw;
    margin: 0% 12% 0% 12%;

  }

  #h3_topSeller {
    font-size: 9vw;
    text-align: center;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #h4_topSeller {
    font-size: 6vw;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
  }

  /* owner image */
  #i_ownerImage {
    width: 75%;
  }

  /* our story paragraph */
  #p_aboutUs {
    font-size: 2.5vw;
  }



  /********** Main Css grid ********/
  #d_homeGridMain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    height: 90vh;
  }

  /** divs **/
  /* image is hiden on a phone like screen */
  #d_homeMainImage {
    display: none;
  }

  #d_homeHeader {
    grid-area: 1/1/2/6;
    display: flex;
    align-items: center;
  }

  #d_homeSubHeader {
    grid-area: 2/1/3/6;
    align-items: flex-start;
  }

  #d_homeTakeLookButton {
    grid-area: 3/1/4/6;
    align-items: flex-start;
    padding-top: 4%;
  }

  /* top seller */
  #d_homeGridTopSeller {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.25fr;
  }

  #d_topSellerHead {
    margin-top: 5%;
    grid-area: 1/1/2/6;
  }

  #d_topSellerImg {
    grid-area: 2/1/3/6;
  }

  #d_topSellerDes {
    grid-area: 3/1/4/6;
    margin-bottom: 15%;
  }

  /* top sller image */
  #i_topSeller {
    height: 80%;
    width: 75%;
    margin-top: 7.5%;
  }


  /***********************************************************/
  /*********************
CARE PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* header */
  .h2_careDes {
    text-underline-offset: 15px;
  }

  /* effct of sap div */
  .d_effectsOfSapFlex {
    margin-top: 3%;
  }

  /***********************************************************/
  /*********************
VIEW PAGE STYLES BELOW 
/*********************/
  /***********************************************************/
  /* view plants div */
  .d_viewSwanPlants {
    margin-top: 15%;
  }

  /***********************************************************/
  /*********************
CLOSE VIEW PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* headers */
  #h1_closeViewHeader {
    font-size: 8vw;
  }

  #h2_closeViewPrice {
    font-size: 6vw;
  }

  /* close view grid */
  #d_closeViewGrid {
    grid-template-rows: 2.5fr 0.5fr 0.25fr 0.75fr 0.25fr;
    grid-template-columns: 1fr;
  }

  /* close view gird divs */
  #d_closeViewImage {
    width: 70%;
    height: 90%;
    margin: 0%;
    margin: 5% 0% 0% 15%;
    grid-area: 1/1/2/2;
  }

  #d_closeViewHeader {
    grid-area: 2/1/3/2;
  }

  #d_closeViewPrice {
    grid-area: 3/1/4/2;
  }

  #d_closeViewDes {
    grid-area: 4/1/5/2;
  }

  #d_closeViewOrderLink {
    grid-area: 5/1/6/2;
  }

  /* keep looking div */
  #d_closeViewKeepLooking {
    margin-top: 7.5%;
    margin-bottom: 15%;
  }

  /* paragraphs */
  #p_closeViewDes,
  #p_closeViewDesHeight {
    font-size: 3vw;
  }

  /* order link */
  #a_orderForm {
    font-size: 7vw;
  }


  /***********************************************************/
  /*********************
ORDER PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* header */
  #h1_orderFormHeader {
    text-underline-offset: 10px;
  }

}

/********** SMALL SCREEN SIZE CSS GRID BELOW  **********/
/** starts at a large phone (samsung flip) / very small tablet **/
/****************************************************************************************************/
/****************************************************************************************************/
/********** Small screen size **********/
@media (max-width:500px) {


  /***********************************************************/
  /*********************
MULTIPLE PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /** header **/

  header {
    border-radius: 25px;
    height: 10vh;
  }

  /*** heading ***/
  h2 {
    margin: 0px;
    margin-bottom: 1.5%;
    text-align: center;
  }


  /* nav divs */
  .d_headerCompany {
    display: none;
  }

  .d_headerGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  #d_headerLinkHome {
    grid-area: 1/1/2/2;
  }

  #d_headerLinkView {
    grid-area: 1/2/2/3;
  }

  #d_dropDownLinks {
    padding: 0% 7.5% 20% 7.5%;
    width: auto;
  }

  #d_headerLinkCare {
    grid-area: 1/3/2/4;
  }

  #d_headerLinkOrder {
    grid-area: 1/4/2/5;
  }

  /* nav links */
  .a_change,
  .a_current {
    font-size: 5vw;
  }

  /* drop down list */
  .li_dropDownLinks {
    margin-top: 20%;
  }

  /* drop donw links */
  .a_dropDown {
    font-size: 4.75vw;
  }

  /***********************************************************/
  /*********************
HOME PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* headers */
  #h1_homeMainHeader {
    font-size: 16vw;
    padding-bottom: 7.5%;
    margin: 0% 2.5% 2.5% 2.5%;
  }

  #h2_Story,
  #h1_topSeller {
    font-size: 17vw;
  }

  #h3_subHeader {
    font-size: 7vw;
    margin: 0% 10% 1% 10%;
  }

  /********** Main Css grid ********/
  #d_homeGridMain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1.25fr 1fr;
    height: 90vh;
  }

  /** image is hiden on a phone like screen **/
  #d_homeMainImage {
    display: none;
  }

  /* main header **/
  #d_homeHeader {
    grid-area: 1/1/2/6;
    display: flex;
    align-items: center;
  }

  /** sub header **/
  #d_homeSubHeader {
    grid-area: 2/1/3/6;
  }

  /** div for take a close look button **/
  #d_homeTakeLookButton {
    grid-area: 3/1/4/6;
    align-items: start;
  }

  /* take a look button */
  #b_takeLook {
    font-size: 7vw;
  }

  /** d_homeStoryMainFlex was a flex on the 2 large screen sizes but is now a grid on the small screen size **/
  #d_homeStoryMainFlex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 3%;
  }

  /** d_homeStoryImage held the image of the owner and now is on top  **/
  #d_homeStoryImage {
    grid-area: 1/1/2/2;
  }

  /** d_homeStoryAboutUs was held the our story text on the right and now is on the bottom **/
  #d_homeStoryAboutUs {
    grid-area: 2/1/3/2;
  }

  /* story image and about us divs */
  #d_homeStoryImage {
    width: 100%;
  }

  #d_homeStoryAboutUs {
    width: 100%;
  }

  /* about us paragraph */
  #p_aboutUs {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 0.5%;
    font-size: 4.75vw;
  }

  /* owner and top seller images */
  #i_ownerImage {
    width: 75%;
  }

  #i_topSeller {
    height: 80%;
    margin-top: 7.5%;
  }

  /* top seller button */
  #b_topSeller {
    font-size: 5vw;
  }

  /***********************************************************/
  /*********************
CARE PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* headers */
  #h1_careGrow {
    margin-top: 15%;
    font-size: 7vw;
  }

  #h2_greenHouse {
    margin-top: 2.5%;
  }

  .h2_careDes {
    text-underline-offset: 10px;
    font-size: 6.5vw;
  }

  .h3_effectOfPlants {
    font-size: 5.75vw;
  }

  .h3_effetsOfSap {
    font-size: 5vw;
  }

  /* plant grow grid */
  #d_carePlantsGrowGrid {
    margin-top: 10%;
    grid-template-rows: 0.85fr 0.75fr 1fr 0.75fr 0.9fr 0.75fr;
  }

  /* divs */
  .d_effectsOfSapHeader {
    width: 40%;
  }

  .d_effectsOfSapDes {
    width: 60%;
  }

  .d_effectOfPlantsList {
    margin-right: 5%;
  }

  .d_effectsOfSapDes {
    margin-right: 5%;
  }

  /* paragraphs */
  .p_careDes {
    font-size: 4.75vw;
    margin: 10% 7.5% 0% 7.5%;
  }

  #p_effectOfPlant {
    margin-top: 8.5%;
    margin-bottom: 4%;
  }

  .p_effectOfSap {
    font-size: 4vw;
  }

  #p_plantTonic {
    margin-top: 5%;
  }

  #p_toxicPlantExplain {
    margin: 5% 7.5% 0% 7.5%;
  }

  /* list */
  .li_effectOfPlants {
    font-size: 3.75vw;
  }

  /* images */
  #i_greenhouseMade {
    width: 85%;
    height: 70%;
  }

  #i_soil {
    width: 75%;
    height: 80%;
  }

  #i_topCut {
    width: 75%;
    height: 70%;
  }

  .i_bugs {
    width: 70%;
    height: 85%;
  }


  /* plant problem grid */
  #d_carePlantsProblemGrid {
    grid-template-rows: 0.5fr 1fr;
  }

  /** was a flex box in bigger screen sizes **/
  #d_bugsImageFlex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  /** was a flex box in bigger screen sizes **/
  #d_toxicPlantDesFlex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  /** d_yellowAphidsImage held the image on the left and now is on top **/
  /** d_toxicPlantDesFlexLeft was left side of flex box in bigger screen sizes now is top **/
  #d_yellowAphidsImage,
  #d_toxicPlantDesFlexLeft {
    grid-area: 1/1/2/3;
    width: 100%;
  }

  /** d_whiteAphidsImage held the image on the right and now is on the bottom **/
  /** d_toxicPlantDesFlexRight was right side of flex box in bigger screen sizes now is bottom **/
  #d_whiteAphidsImage,
  #d_toxicPlantDesFlexRight {
    grid-area: 2/1/3/3;
    width: 100%;
  }

  /***********************************************************/
  /*********************
VIEW PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* headers */
  #h1_ourProducts {
    margin-top: 5%;
    font-size: 10vw;
  }

  .h3_swanPlant {
    font-size: 4.5vw;
  }

  /* view plant grid */
  #d_viewPlantsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 0%;
  }

  /* view plant grid divs */
  #d_smallSwanPlant {
    grid-area: 1/1/2/2;
  }

  #d_mediumSwanPlant {
    grid-area: 2/1/3/2;
  }

  #d_largeSwanPlant {
    grid-area: 3/1/4/2;
  }

  #d_extraLargeSwanPlant {
    grid-area: 4/1/5/2;
  }

  /***********************************************************/
  /*********************
  CLOSE VIEW PAGE STYLES BELOW 
  /*********************/
  /***********************************************************/

  /* headers */
  #h1_closeViewHeader {
    font-size: 9vw;
  }

  #h2_closeViewPrice {
    font-size: 7vw;
  }

  /* close view grid */
  #d_closeViewGrid {
    grid-template-rows: 2.5fr 0.5fr 0.25fr 1fr 0.25fr;
    grid-template-columns: 1fr;
  }

  /* view grid divs */
  #d_closeViewImage {
    width: 70%;
    height: 90%;
    margin: 0%;
    margin: 5% 0% 0% 15%;
    grid-area: 1/1/2/2;
  }

  #d_closeViewHeader {
    grid-area: 2/1/3/2;
  }

  #d_closeViewPrice {
    grid-area: 3/1/4/2;
  }

  #d_closeViewDes {
    grid-area: 4/1/5/2;
  }

  #d_closeViewOrderLink {
    grid-area: 5/1/6/2;
    margin-top: 2.5%;
  }

  /* paragrpahs */
  #p_closeViewDes,
  #p_closeViewDesHeight {
    font-size: 3.75vw;
  }

  /* keep looking div */
  #d_closeViewKeepLooking {
    margin-top: 10%;
  }

  /* keep looking link */
  #a_keepLooking {
    font-size: 5vw;
  }

  /***********************************************************/
  /*********************
ORDER PAGE STYLES BELOW 
/*********************/
  /***********************************************************/

  /* headers */

  #h1_orderFormHeader {
    margin-top: 5%;
    font-size: 12vw;
    text-underline-offset: 8px;
  }

  #h2_statusUpdate {
    font-size: 10vw;
  }


  #h4_orderPaymentNote {
    font-size: 3vw;
    margin-bottom: 7%;
  }

  /* divs */
  #d_orderForm {
    border: 2px solid black;
    margin-top: 10%;
    margin-bottom: 22.5%;
    margin-left: 5%;
    width: 90%;
  }

  #d_orderFormButtons {
    margin-bottom: 3%;
  }

  /* from labels and inputs */
  .l_orderForm {
    font-size: 4.5vw;
  }

  .in_orderForm {
    font-size: 2.5vw;
  }

  /* order buttons */
  .b_order {
    font-size: 6vw;
    padding: 3% 2% 3% 2%;
  }
}


/*************************************************
END OF CODE 
*************************************************/